<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Last sale:</strong>
  <%= @stock.last_sale %>
</p>

<p>
  <strong>Market cap:</strong>
  <%= @stock.market_cap %>
</p>

<p>
  <strong>Ipo year:</strong>
  <%= @stock.ipo_year %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @stock.sector %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @stock.industry %>
</p>

<p>
  <strong>Summary quote:</strong>
  <%= @stock.summary_quote %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
